/*=============GENERIC CSS=============*/
.section-title {
    padding-top: 50px;
    padding-bottom: 50px;
}

    .section-title h1 {
        position: relative;
        text-align: center;
        color: #333;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .section-title h2:after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        width: 60px;
        height: 1px;
        background-color: #129CF3;
        margin-left: -30px;
    }
/*size of the picture*/
#ContentPlaceHolder1_Picture {
    width: 100px;
}
/*put the image to the center*/
.pick {
    text-align: center;
}
/*=============page_insert_product_admin.aspx=============*/
.alinear{
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
}
#ContentPlaceHolder1_Button1 {
    font-size: 21px;
}
#ContentPlaceHolder1_Button2 {
    font-size: 21px;
}
/*=============page_update_product_admin.aspx=============*/
/*=============page_delete_product_admin.aspx=============*/
/*=============page_profile_product_admin.aspx=============*/
#lamisma {
    width: 520px;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px #57b1dc;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#image {
    background-image: url('../Pictures/rsz_p1.jpg');
    width: 97%;
    height: 550px;
}
