.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 55px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 700;
    line-height: 34.1px;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
    text-align: center;
}
header nav {
    text-align: center;
    /*background: #252932;
	line-height: 220px;*/
}
    /*separate*/
    header nav a {
        /*	display:inline-block;*/
        /*color:#fff;*/
        /*text-decoration:none;*/
        padding: 10px 20px;
        line-height: normal;
        font-size: 20px;
        font-weight: bold;
    }
        /*separate*/
header nav a:hover {
            background: #f56f3a;
            border-radius: 50px;
}

.login_design {
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px #ebebe0;
    background-color: white;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}