#lamisma {
    width: 520px;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px #57b1dc;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#image {
    background-image: url('../Pictures/rsz_p1.jpg');
    width: 97%;
    height: 550px;
}
